<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semi_project.subpage.car.model.dao.carMapper">


    <resultMap id="employeeDTO" type="com.ohgiraffers.semi_project.subpage.car.model.dto.EmployeeDTO">
        <id property="user_name" column="user_name"/>
        <result property="user_number" column="user_number"/>
    </resultMap>

    <resultMap id="carDTO" type="com.ohgiraffers.semi_project.subpage.car.model.dto.CarDTO">
        <id property="car_management_id" column="car_management_id"/>
        <result property="car_rental_status" column="car_rental_status"/>
        <result property="vehicle_reservation_date" column="vehicle_reservation_date"/>
        <result property="vehicle_return_due_date" column="vehicle_return_due_date"/>
        <result property="vehicle_return_status" column="vehicle_return_status"/>
        <result property="vehicle_purpose" column="vehicle_purpose"/>
        <result property="vehicle_address" column="vehicle_address"/>
    </resultMap>

    <resultMap id="vehicleDTO" type="com.ohgiraffers.semi_project.subpage.car.model.dto.VehicleDTO">
        <id property="vehicle_name" column="vehicle_name"/>
        <result property="vehicle_number" column="vehicle_number"/>
    </resultMap>

    <select id="findAllVehicle" resultMap="vehicleDTO">
        select
            vehicle_name,
            vehicle_number
        from vehicle
    </select>


    
    <resultMap id="carjoin" type="com.ohgiraffers.semi_project.subpage.car.model.dto.CarJoinDTO">
        <id property="car_management_id" column="car_management_id"/>
        <result property="car_rental_status" column="car_rental_status"/>
        <result property="vehicle_reservation_date" column="vehicle_reservation_date"/>
        <result property="vehicle_return_due_date" column="vehicle_return_due_date"/>
        <result property="vehicle_return_status" column="vehicle_return_status"/>
        <result property="vehicle_purpose" column="vehicle_purpose"/>
        <result property="vehicle_address" column="vehicle_address"/>
        <association property="vehicleDTO" javaType="com.ohgiraffers.semi_project.subpage.car.model.dto.VehicleDTO">
            <id property="vehicle_name" column="vehicle_name"/>
            <result property="vehicle_number" column="vehicle_number"/>
        </association>
    </resultMap>

    <select id="findAllCar" resultMap="carjoin">
        SELECT
        a.vehicle_name,
        a.vehicle_number,
        b.car_rental_status
        FROM
        CAR b
        JOIN
        vehicle a on (a.vehicle_name = b.vehicle_name)
    </select>


    <insert id="registCar" parameterType="com.ohgiraffers.semi_project.subpage.car.model.dto.CarJoinDTO">

    </insert>




    <resultMap id="siCar" type="com.ohgiraffers.semi_project.subpage.car.model.dto.CarJoinDTO">
        <id property="car_management_id" column="car_management_id"/>
        <result property="car_rental_status" column="car_rental_status"/>
        <result property="vehicle_reservation_date" column="vehicle_reservation_date"/>
        <result property="vehicle_return_due_date" column="vehicle_return_due_date"/>
        <result property="vehicle_return_status" column="vehicle_return_status"/>
        <result property="vehicle_purpose" column="vehicle_purpose"/>
        <result property="vehicle_address" column="vehicle_address"/>
        <association property="vehicleDTO" javaType="com.ohgiraffers.semi_project.subpage.car.model.dto.VehicleDTO">
            <id property="vehicle_name" column="vehicle_name"/>
            <result property="vehicle_number" column="vehicle_number"/>
        </association>
        <association property="employeeDTO" javaType="com.ohgiraffers.semi_project.subpage.car.model.dto.EmployeeDTO">
            <id property="user_no" column="user_no"/>
            <result property="user_name" column="user_name"/>
        </association>
    </resultMap>

    <select id="findAllSiCar" resultMap="siCar">
        SELECT
        a.car_management_id,
        b.vehicle_name,
        b.vehicle_number,
        a.vehicle_reservation_date,
        a.vehicle_return_due_date,
        a.vehicle_return_status,
        c.user_name
        FROM
        CAR a
        JOIN
        vehicle b ON b.vehicle_name = a.vehicle_name
        JOIN
        employee c ON c.user_no = a.user_no
    </select>


</mapper>
