<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/account.css">
    <script src="/js/pageButton.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <style>

        @media screen and (max-width: 375px) {
            .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
            }

            .content {
                display: none;
            }
            #sidebar {
                width: 100%;
                /* 사이드바 틀 높이 */
                height: 838px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <div th:replace="common/sidebar.html" id="sidebar"></div>
    <!-- 메인 컨텐츠 -->
    <div class="content">
        <!-- 헤더 추가 -->
        <div th:replace="common/header.html" id="header"></div>

        <div class="area">

            <!--            여기서부터 시작 위에는 건들지 마세요-->
            <div class="layer">
                <div class="layer">
                    <h1>거래처 관리</h1>
                    <div class="button">
                        <div class="c_button" id="accbtn">거래처 등록</div>
                    </div>

                    <div class="chart">
                            <!-- 여기만 건들기-->
                            <div class="carrr">
                                <table>
                                    <tr>
                                        <th>거래처명</th>
                                        <th>대표자명</th>
                                        <th>대표번호</th>
                                        <th>구분</th>
                                        <th>사업장주소</th>
                                        <th>담당자</th>
                                        <th>거래처 최초 등록일</th>
                                    </tr>
                                    
                                    <tbody id="tableBody">
                                    <tr th:each="accJoin : ${accJoinList}" id="row_${iterStat.index}">
                                        <td th:text="${accJoin.account_name}"></td>
                                        <td th:text="${accJoin.representative_name}"></td>
                                        <td th:text="${accJoin.representative_number}"></td>
                                        <td th:text="${accJoin.account_category}"></td>
                                        <td th:text="${accJoin.business_address}"></td>
                                        <td th:text="${accJoin.employeeDTO.user_name}"></td>
                                        <td th:text="${accJoin.registration_date}"></td>
                                    </tr>
                                    </tbody>
                                    

                                </table>
                            </div>
                    </div>


                    <form action="/subpage/account" method="post">
                        <!-- 모달 내용 -->
                        <div id="myModal" class="modal">

                            <!-- 모달 내용 -->
                            <div class="modal-content">
                                <h1 style="text-align: center">거래처 등록</h1>
                                
                                <div class="modal-client">
                                    
                                        
                                    <div class="modal-wrap"> <div class="modal-div">거 래 처  명  :</div><label> <input type="text" name="account_name"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">거래처 번 호  :</div><label> <input type="number" name="representative_number"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">사업자 번 호  :</div><label> <input type="text" name="business_number"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">대 표 자  명  :</div><label> <input type="text" name="representative_name"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">거래처 구 분  :</div><label> <input type="text" name="account_category"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">은   행   명  :</div><label> <input type="text" name="bank_name"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">예 금 주  명  :</div><label> <input type="text" name="account_holder"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">계 좌 번 호   :</div><label> <input type="number" name="account_number"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">담장자사원번호 :</div><label> <input type="number" name="user_id"></label></div>
                                    <div class="modal-wrap"><div class="modal-div">거래처 등록일 :</div><label> <input type="date" name="registration_date"></label></div>
                                </div>

                                <div class="modal-address">
                                <label>거래처 주소:</label><br>
                                <label>
                                    <input style="height: 25px; width: 180px;" type="text" id="sample6_postcode" name="business_address" placeholder="우편번호">
                                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                                    <input style="height: 25px; width: 180px;" type="text" id="sample6_address" name="business_address" placeholder="주소">
                                    <input style="height: 25px; width: 180px;" type="text" id="sample6_detailAddress" name="business_address" placeholder="상세주소">
                                    <input style="height: 25px; width: 250px;" type="text" id="sample6_extraAddress" name="business_address" placeholder="참고항목">
                                </label>
                                </div>

                                <div class="buttons">
                                    <button id="addBtn" style="background-color: #4CAF50" type="submit">추가</button>
                                    <button id="cancelBtn" type="button">취소</button>
                                </div>


                            </div>
                        </div>
                    </form>

                    <script>

                        // 모달 요소 가져오기
                        var modal = document.getElementById("myModal");

                        // 모달 열기 버튼 가져오기
                        var btn = document.getElementById("accbtn");

                        // 모달 닫기 버튼 가져오기
                        var span = document.getElementsByClassName("buttons")[0];

                        // 모달 열기 버튼을 클릭하면 모달 보이기
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }

                        // 모달 닫기 버튼을 클릭하면 모달 닫기
                        span.onclick = function() {
                            modal.style.display = "none";
                        }

                        document.getElementById('cancelBtn').addEventListener('click', function(event) {
                            // 기본 동작(폼 제출) 막기
                            event.preventDefault();

                            // 모달 닫기
                            var modal = document.getElementById("myModal");
                            modal.style.display = "none";
                        });

                        // 모달 밖의 영역을 클릭하면 모달 닫기
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }


                        // 주소검색 -> 다음api
                        function sample6_execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                    var addr = ''; // 주소 변수
                                    var extraAddr = ''; // 참고항목 변수

                                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                        addr = data.roadAddress;
                                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                        addr = data.jibunAddress;
                                    }

                                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                    if(data.userSelectedType === 'R'){
                                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                            extraAddr += data.bname;
                                        }
                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if(data.buildingName !== '' && data.apartment === 'Y'){
                                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if(extraAddr !== ''){
                                            extraAddr = ' (' + extraAddr + ')';
                                        }
                                        // 조합된 참고항목을 해당 필드에 넣는다.
                                        document.getElementById("sample6_extraAddress").value = extraAddr;

                                    } else {
                                        document.getElementById("sample6_extraAddress").value = '';
                                    }

                                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                    document.getElementById('sample6_postcode').value = data.zonecode;
                                    document.getElementById("sample6_address").value = addr;
                                    // 커서를 상세주소 필드로 이동한다.
                                    document.getElementById("sample6_detailAddress").focus();
                                }
                            }).open();
                        }
                    </script>





                    <div class="page_number">
                        <div class="flex">
                            <div class="s_button">&lt;</div>
                            <div class="s_button" onclick="changePage(1)">1</div>
                            <div class="s_button" onclick="changePage(2)">2</div>
                            <div class="s_button" onclick="changePage(3)">3</div>
                            <div class="s_button">&gt;</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
</body>
</html>
