<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/car.css">
    <script src="/js/pageButton.js"></script>
    <style>

        @media screen and (max-width: 375px) {
            .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
            }

            .content {
                display: none;
            }
            #sidebar {
                width: 100%;
                /* 사이드바 틀 높이 */
                height: 838px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <div th:replace="common/sidebar.html" id="sidebar"></div>
    <!-- 메인 컨텐츠 -->
    <div class="content">
        <!-- 헤더 추가 -->
        <div th:replace="common/header.html" id="header"></div>

        <div class="area">

            <!--            여기서부터 시작 위에는 건들지 마세요-->

            <div class="layer">
                <h1>차량예약</h1>
                    <div class="button">
                        <div class="c_button" id="carbtn">차량예약</div>
                    </div>

                    <div class="chart">
                        <!-- 여기만 건들기-->
                        <div class="carrr">
                            <table>
                                <tr>
                                    <th>차종</th>
                                    <th>차량번호</th>
                                    <th>대여여부</th>
                                </tr>
                                <tr th:each="carJoin : ${carJoinList}">
                                    <td th:text="${carJoin.vehicleDTO.vehicle_name}"></td>
                                    <td th:text="${carJoin.vehicleDTO.vehicle_number}"></td>
                                    <td th:text="${carJoin.car_rental_status}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <form action="/subpage/car" method="post">
                         <!-- 모달 내용 -->
                        <div id="myModal" class="modal">

                        <!-- 모달 내용 -->
                            <div class="modal-content">
                                <h1 style="text-align: center">차량 예약</h1>
                                <br>
                                <p>차종 선택</p>
                                <p>
                                    <select name="vehicle_name" id="vehicle_name" style="height: 30px; width: 400px;"></select>
                                </p>
                                <p>대여일</p>
                                <p> <input type="datetime-local" name="vehicle_reservation_date" style="height: 30px; width: 400px; "></p>
                                <p>반납 예정일</p>
                                <p><input type="datetime-local" name="vehicle_return_due_date" style="height: 30px; width: 400px;"></p>
                                <p>대여자</p>
                                <p><input type="text" name="user_name" style="height: 30px; width: 400px;"></p>
                                <p>대여 용도</p>
                                <p><input type="text" name="vehicle_purpose" style="height: 30px; width: 400px;"></p>
                                <p>행선지</p>
                                <p><input type="text" name="vehicle_address" style="height: 30px; width: 400px;"></p>
                                <div class="buttons">
                                    <button id="addBtn" style="background-color: #4CAF50" type="submit">추가</button>
                                    <button id="cancelBtn" type="button">취소</button>
                                </div>
                                </p>

                             </div>
                        </div>
                    </form>

                <script>

                    // 모달 요소 가져오기
                    var modal = document.getElementById("myModal");

                    // 모달 열기 버튼 가져오기
                    var btn = document.getElementById("carbtn");

                    // 모달 닫기 버튼 가져오기
                    var span = document.getElementsByClassName("buttons")[0];

                    // 모달 열기 버튼을 클릭하면 모달 보이기
                    btn.onclick = function() {
                        modal.style.display = "block";
                    }

                    // 모달 닫기 버튼을 클릭하면 모달 닫기
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    document.getElementById('cancelBtn').addEventListener('click', function(event) {
                        // 기본 동작(폼 제출) 막기
                        event.preventDefault();

                        // 모달 닫기
                        var modal = document.getElementById("myModal");
                        modal.style.display = "none";
                    });

                    // 모달 밖의 영역을 클릭하면 모달 닫기
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }

                    // 차종 에 대한 옵션 가지고 오기
                    fetch("/subpage/car/vehicle")
                        .then(res => res.json())
                        .then(data => {
                            const $vehicle_name = document.getElementById('vehicle_name');

                            for(let vehicle of data) { // 'of'를 사용하여 배열의 각 객체에 대해 반복
                                const $option = document.createElement("option");
                                // 'vehicle_name'을 option의 value로, 'vehicle_number'를 텍스트 내용으로 사용
                                $option.value = vehicle.vehicle_number;
                                $option.textContent = vehicle.vehicle_name;
                                $vehicle_name.appendChild($option);
                            }
                        })


                </script>













                    <div class="page_number">
                        <div class="flex">
                            <div class="s_button" onclick="changePage(1)">1</div>
                            <div class="s_button" onclick="changePage(2)">2</div>
                            <div class="s_button" onclick="changePage(3)">3</div>
                        </div>
                    </div>
                    <div class="search">
                        <div class="flex">
                            <input type="text" class="search_input" placeholder="검색어를 입력하세요">
                            <div class="search_button" onclick="search()">검색</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
