<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/edoc_correction.css">
    <script src="/js/edocForm.js"></script>
    <style>
        @media screen and (max-width: 375px) {
            .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
            }

            .content {
                display: none;
            }

            #sidebar {
                width: 100%;
                /* 사이드바 틀 높이 */
                height: 838px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <div th:replace="common/sidebar.html" id="sidebar"></div>
    <!-- 메인 컨텐츠 -->
    <div class="content">
        <!-- 헤더 추가 -->
        <div th:replace="common/header.html" id="header"></div>

        <div class="area">
            <!-- 여기서부터 시작 위에는 건들지 마세요 -->
            <div class="layer">
                <div class="layer">
                    <h1>문서작성</h1>

                    <div class="chart">
                        <table>
                            <tr>
                                <th>분류</th>
                                <th>양식명</th>
                                <th>서류설명</th>
                                <th>작성하기</th>
                            </tr>
                            <tbody id="tableBody">
                            <tr th:each="list, iterStat : ${edocFormList}" id="row_${iterStat.index}">
                                <td th:text="${list.edoc_form_no}"></td>
                                <td th:text="${list.form_name}"></td>
                                <td th:text="${list.form_explanation}"></td>
                                <td>
                                    <span class="write">작성하기</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="page_number">
                        <div class="flex">
                            <div class="s_button" onclick="changePage(1)">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
