<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/item.css">
    <script src="/js/pageButton.js"></script>
    <style>
        @media screen and (max-width: 375px) {
            .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
            }

            .content {
                display: none;
            }

            #sidebar {
                width: 100%;
                height: 838px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <div th:replace="common/sidebar.html" id="sidebar"></div>
    <!-- 메인 컨텐츠 -->
    <div class="content">
        <!-- 헤더 추가 -->
        <div th:replace="common/header.html" id="header"></div>

        <div class="area">
            <!-- 여기서부터 시작 위에는 건들지 마세요 -->
            <div class="layer">
                <h1>물품예약</h1>
                <div class="button">
                    <div class="c_button" onclick="itembtn1()">물품 재고</div>
                    <div class="c_button" id="itembtn"> 물품 대여</div>
                    <div class="c_button" onclick="itembtn2()">대여 현황</div>
                    <div class="c_button" onclick="itembtn3()">내 예약</div>
                </div>

                <script>
                    function itembtn2() {
                        window.location.href = "/subpage/item_situation";
                    }
                    function itembtn1() {
                        window.location.href = "/subpage/item";
                    }
                    function itembtn3() {
                        window.location.href = "/subpage/item_situation_mypage";
                    }
                </script>

                <div class="chart">
                    <!-- 여기만 건들기 -->
                    <div class="carrr">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
                        <canvas id="myChart"></canvas>
                        <script th:inline="javascript">
                            let rentalList = /*[[${rentalList}]]*/[];

                            let labels = [];
                            let data = [];

                            rentalList.forEach(function(item) {
                                labels.push(item.rentalDTO.item_name);
                                data.push(item.rentalDTO.item_inventory);
                            });

                            let myCt = document.getElementById('myChart').getContext('2d');

                            let myChart = new Chart(myCt, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [
                                        {
                                            label: '대여가능 개수',
                                            data: data,
                                        }
                                    ]
                                },
                            });
                        </script>
                    </div>
                </div>

                <form action="/subpage/item" method="post" id="rentalForm">
                    <!-- 모달 내용 -->
                    <div id="myModal" class="modal">
                        <!-- 모달 내용 -->
                        <div class="modal-content">
                            <h1 style="text-align: center">물품 대여</h1>
                            <br>
                            <p>항목 선택</p>
                            <p>
                                <select class="item-information" name="item_name" id="item_name" ></select><br><br>
                            </p>
                            <p>대여일</p>
                            <p><input class="item-information" type="date" id="rental_date" name="rental_date"></p><br>
                            <p>반납 예정일</p>
                            <p><input class="item-information" type="date" id="rental_return_date" name="rental_return_date" ></p><br>
                            <p>대여 용도</p>
                            <p><input class="item-information" type="text" name="rental_purpose" ></p><br>
                            <!-- 항목별 갯수 입력 -->
                            <p>빌릴 개수</p>
                            <p><input class="item-information" type="number" id="item_inventory" name="item_inventory"></p><br>
                            <div class="buttons">
                                <button id="addBtn" style="background-color: #4CAF50" type="submit">추가</button>
                                <button id="cancelBtn" type="button">취소</button>
                            </div>
                        </div>
                    </div>
                </form>

                <script>
                    var modal = document.getElementById("myModal");
                    var btn = document.getElementById("itembtn");
                    var span = document.getElementsByClassName("buttons")[0];

                    btn.onclick = function() {
                        modal.style.display = "block";
                    }

                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    document.getElementById('cancelBtn').addEventListener('click', function(event) {
                        event.preventDefault();
                        var modal = document.getElementById("myModal");
                        modal.style.display = "none";
                    });

                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }

                    fetch("/subpage/item/find")
                        .then(res => res.json())
                        .then(data => {
                            const $item_name = document.getElementById('item_name');
                            const $item_inventory = document.getElementById('item_inventory');
                            const itemData = {};

                            data.forEach(d => {
                                const $option = document.createElement('option');
                                $option.value = d.item_name;
                                $option.textContent = d.item_name;
                                $item_name.appendChild($option);
                                itemData[d.item_name] = d.item_inventory;
                            });

                            // 옵션이 추가된 후 초기 값을 설정하기 위해 change 이벤트를 트리거
                            const event = new Event('change');
                            $item_name.dispatchEvent(event);

                            $item_name.addEventListener('change', function() {
                                const selectedItem = $item_name.options[$item_name.selectedIndex].value;
                                if (itemData[selectedItem] !== undefined) {
                                    const inventoryValue = itemData[selectedItem];
                                    $item_inventory.value = '';
                                    $item_inventory.max = inventoryValue;
                                }
                            });
                        });

                    document.getElementById('item_inventory').addEventListener('input', function() {
                        const $item_inventory = document.getElementById('item_inventory');
                        const inputValue = parseInt($item_inventory.value);
                        const maxInventory = parseInt($item_inventory.max);

                        if (inputValue <= 0) {
                            alert("대여가능 물품이 없습니다.!");
                            $item_inventory.value = '';
                        } else if (inputValue > maxInventory) {
                            alert("대여가능 물품보다 많이 선택하셨습니다. 다시 선택해주세요.");
                            $item_inventory.value = '';
                        }
                    });

                    document.getElementById('rentalForm').addEventListener('submit', function(event) {
                        const $item_inventory = document.getElementById('item_inventory');
                        const inputValue = parseInt($item_inventory.value);
                        const maxInventory = parseInt($item_inventory.max);

                        if (isNaN(inputValue) || inputValue <= 0) {
                            alert("대여가능 물품이 없습니다.!");
                            event.preventDefault();
                        } else if (inputValue > maxInventory) {
                            alert("대여가능 개수보다 많이 선택하셨습니다. 다시 선택해주세요.");
                            event.preventDefault();
                        }
                    });

                    document.getElementById('rental_date').addEventListener('change', function() {
                        var rentalDate = new Date(this.value);
                        var returnDateField = document.getElementById('rental_return_date');
                        returnDateField.min = this.value;

                        if (new Date(returnDateField.value) < rentalDate) {
                            returnDateField.value = this.value;
                        }
                    });

                    document.getElementById('rental_return_date').addEventListener('change', function() {
                        var rentalDate = new Date(document.getElementById('rental_date').value);
                        var returnDate = new Date(this.value);

                        if (returnDate < rentalDate) {
                            alert('반납일은 대여일 이후여야 합니다.');
                            this.value = document.getElementById('rental_date').value;
                        }
                    });
                </script>

                <div class="page_number">
                    <div class="flex">
                        <div class="s_button" onclick="changePage(1)">1</div>
                        <div class="s_button" onclick="changePage(2)">2</div>
                        <div class="s_button" onclick="changePage(3)">3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
