<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/item.css">
    <script src="/js/pageButton.js"></script>
    <style>
        @media screen and (max-width: 375px) {
            .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
            }

            .content {
                display: none;
            }

            #sidebar {
                width: 100%;
                height: 838px;
            }
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 300px;
            text-align: center;
        }
        .close-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            margin-top: 10px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 사이드바 -->
    <div th:replace="common/sidebar.html" id="sidebar"></div>
    <!-- 메인 컨텐츠 -->
    <div class="content">
        <!-- 헤더 추가 -->
        <div th:replace="common/header.html" id="header"></div>

        <div class="area">
            <!-- 여기서부터 시작 위에는 건들지 마세요 -->
            <div class="layer">
                <h1>물품예약</h1>
                <div class="button">
                    <div class="c_button" onclick="itembtn1()">물품 재고</div>
<!--                    <div class="c_button" id="itembtn"> 물품 대여</div>-->
                    <div class="c_button" onclick="itembtn2()">대여 현황</div>
                    <div class="c_button" onclick="itembtn3()">내 예약</div>


                </div>


                <script>
                    function itembtn2() {
                        //여기선 car_situation?type=all
                        window.location.href = "/subpage/item_situation"
                    }
                    function itembtn1() {
                        //여기선 car_situation?type=all
                        window.location.href = "/subpage/item"
                    }
                    function itembtn3() {
                        //여기선 car_situation?type=all
                        window.location.href = "/subpage/item_situation_mypage"
                    }
                </script>
                <div class="chart">
                    <!-- 여기만 건들기 -->
                    <div class="carrr">
                        <table>
                            <tr>
                                <th>용도</th>
                                <th>물품명</th>
                                <th>대여자</th>
                                <th>물품 대여일</th>
                                <th>물품반납일</th>
                                <th>취소/반납</th>
                                <th>개수</th>
                                <th>반납</th>
                            </tr>
                            <tbody id="tableBody">
                            <tr th:each="itemjoin : ${rentalList}" id="row_${iterStat.index}">

                                <td th:text="${itemjoin.rental_purpose}"></td>
                                <td th:text="${itemjoin.rentalDTO.item_name}"></td>
                                <td th:text="${itemjoin.employeeDTO.user_name}"></td>
                                <td th:text="${itemjoin.rental_date}"></td>
                                <td th:text="${itemjoin.rental_return_date}"></td>
                                <td th:text="${itemjoin.rental_status}"></td>
                                <td th:text="${itemjoin.rentalDTO.item_inventory}"></td>

                                <td>
                                    <form class="return-form" th:action="@{/subpage/item_situation_mypage}" method="post">
                                        <input type="hidden" name="rental_purpose" th:value="${itemjoin.rental_purpose}">
                                        <input type="hidden" name="item_name" th:value="${itemjoin.rentalDTO.item_name}">
                                        <input type="hidden" name="user_name" th:value="${itemjoin.employeeDTO.user_name}">
                                        <input type="hidden" name="rental_date" th:value="${itemjoin.rental_date}">
                                        <input type="hidden" name="rental_return_date" th:value="${itemjoin.rental_return_date}">
                                        <input type="hidden" name="rental_status" th:value="${itemjoin.rental_status}">
                                        <input type="hidden" name="item_inventory" th:value="${itemjoin.rentalDTO.item_inventory}">
                                        <input type="hidden" name="rental_id" th:value="${itemjoin.rental_id}">
                                        <button type="button" onclick="confirmReturn(this)" style="width: 60px; height: auto; border-radius: 5px; background-color: aliceblue; border: 1px solid gray; padding: 2px">반납</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <form action="/subpage/item" method="post">
                    <!-- 모달 내용 -->
                    <div id="myModal" class="modal">
                        <!-- 모달 내용 -->
                        <div class="modal-content">
                            <h1 style="text-align: center">물품 대여</h1>
                            <br>
                            <p>항목 선택</p>
                            <p>
                                <select name="item_name" id="item_name" style="height: 30px; width: 400px;"></select>
                            </p>
                            <p>대여일</p>
                            <p><input type="date" id="rental_date" name="rental_date" style="height: 30px; width: 400px;"></p>
                            <p>반납 예정일</p>
                            <p><input type="date" id="rental_return_date" name="rental_return_date" style="height: 30px; width: 400px;"></p>
                            <p>대여 용도</p>
                            <p><input type="text" name="rental_purpose" style="height: 30px; width: 400px;"></p>
                            <div class="buttons">
                                <button id="addBtn" style="background-color: #4CAF50" type="submit">추가</button>
                                <button id="cancelBtn" type="button">취소</button>
                            </div>
                        </div>
                    </div>

                </form>
                <div id="confirmModal" class="modal">
                    <div class="modal-content">
                        <p>반납 하시겠습니까?</p>
                        <button class="close-btn" onclick="submitForm()">확인</button>
                        <button class="close-btn" onclick="closeConfirmModal()">취소</button>
                    </div>
                </div>

                <!-- 반납 완료 모달 -->
                <div id="alertModal" class="modal">
                    <div class="modal-content">
                        <p>반납이 완료 되었습니다!</p>
                        <button class="close-btn" onclick="closeAlertModal()">확인</button>
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var rows = document.querySelectorAll('#tableBody tr');
                        rows.forEach(function(row) {
                            var status = row.querySelector('td:nth-child(6)').textContent.trim();
                            if (status === '반납 완료') {
                                var button = row.querySelector('button');
                                button.disabled = true;
                                button.style.backgroundColor = 'lightgray';
                                button.style.cursor = 'not-allowed';
                            }
                        });
                    });

                    var formToSubmit;

                    function confirmReturn(button) {
                        var modal = document.getElementById('confirmModal');
                        modal.style.display = 'block';
                        formToSubmit = button.closest('form');
                    }
                    // 메모 아래 함수가 ajax 인데 나중에 공부해보기
                    function submitForm() { // 아까 알림창 확인버튼 누르면 실행되는 함수
                        closeConfirmModal();
                        setTimeout(function() {
                            var formData = new FormData(formToSubmit);
                            fetch(formToSubmit.action, {
                                method: 'POST',
                                body: formData
                            })
                                .then(response => response.text())
                                .then(data => {
                                    showAlertModal();
                                })
                                .catch(error => console.error('Error:', error));
                        }, 1000); // 딜리이 1초인데 바로 업데이트가 안돼서 딜레이줌 나중에 코드
                    }

                    function closeConfirmModal() {
                        var modal = document.getElementById('confirmModal');
                        modal.style.display = 'none';
                    }

                    function showAlertModal() {
                        var modal = document.getElementById('alertModal');
                        modal.style.display = 'block';
                    }

                    function closeAlertModal() {
                        var modal = document.getElementById('alertModal');
                        modal.style.display = 'none';
                        // 서버에 제출합니다아ㅏㅇ~
                        location.href='/subpage/item_situation_mypage';
                    }
                </script>
                <script>
                    // 모달 요소 가져오기
                    var modal = document.getElementById("myModal");

                    // 모달 열기 버튼 가져오기
                    var btn = document.getElementById("itembtn");

                    // 모달 닫기 버튼 가져오기
                    var span = document.getElementsByClassName("buttons")[0];

                    // 모달 열기 버튼을 클릭하면 모달 보이기
                    btn.onclick = function() {
                        modal.style.display = "block";
                    }

                    // 모달 닫기 버튼을 클릭하면 모달 닫기
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    document.getElementById('cancelBtn').addEventListener('click', function(event) {
                        // 기본 동작(폼 제출) 막기
                        event.preventDefault();

                        // 모달 닫기
                        var modal = document.getElementById("myModal");
                        modal.style.display = "none";
                    });

                    // 모달 밖의 영역을 클릭하면 모달 닫기
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }

                    // 차종에 대한 옵션 가져오기
                    fetch("/subpage/item/find")
                        .then(res => res.json())
                        .then(data => {
                            const $item_name = document.getElementById('item_name');
                            const $item_inventory = document.getElementById('item_inventory');
                            console.table(data);

                            // 데이터를 저장할 객체 생성
                            const itemData = {};



                            data.forEach(d=>{


                                const $option = document.createElement('option');
                                $option.value=d.item_name;
                                $option.textContent=d.item_name;
                                $item_name.appendChild($option)


                                itemData[d.item_name] = d.item_inventory;

                                console.log(itemData);
                            })


                            // change 이벤트 리스너를 루프 외부에 설정
                            $item_name.addEventListener('click', function() {
                                const selectedItem = $item_name.options[$item_name.selectedIndex].value;
                                console.log(selectedItem);
                                if (itemData[selectedItem] !== undefined) {
                                    console.log('fdsfdsfds')
                                    const inventoryValue = itemData[selectedItem];
                                    $item_inventory.value = inventoryValue;
                                    // 빌릴 개수 input에 최대값 설정
                                    $item_inventory.max = inventoryValue;
                                }
                            });
                        });

                    document.getElementById('rental_date').addEventListener('change', function() {
                        var rentalDate = new Date(this.value);
                        var returnDateField = document.getElementById('rental_return_date');
                        returnDateField.min = this.value;

                        if (new Date(returnDateField.value) < rentalDate) {
                            returnDateField.value = this.value;
                        }
                    });

                    document.getElementById('rental_return_date').addEventListener('change', function() {
                        var rentalDate = new Date(document.getElementById('rental_date').value);
                        var returnDate = new Date(this.value);

                        if (returnDate < rentalDate) {
                            alert('반납일은 대여일 이후여야 합니다.');
                            this.value = document.getElementById('rental_date').value;
                        }
                    });
                </script>


                <div class="page_number">
                    <div class="flex">
                        <div class="s_button" onclick="changePage(1)">1</div>
                        <div class="s_button" onclick="changePage(2)">2</div>
                        <div class="s_button" onclick="changePage(3)">3</div>
                    </div>
                </div>
                <div class="search">
                    <div class="flex">
                        <input type="text" class="search_input" placeholder="검색어를 입력하세요">
                        <div class="search_button" onclick="search()">검색</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>