<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ohgiraffers.semi_project.subpage.profile.model.dao.ProfileMapper">
    <resultMap id="memoDTO" type="com.ohgiraffers.semi_project.subpage.profile.model.dto.MemoDTO">
        <id property="memo_id" column="memo_id"/>
        <result property="memo_title" column="memo_title"/>
        <result property="memo_content" column="memo_content"/>
        <result property="user_no" column="user_no"/>
        <association property="employeeDTO" javaType="com.ohgiraffers.semi_project.subpage.profile.model.dto.EmployeeDTO">
            <id property="user_id" column="user_id"/>
            <result property="user_name" column="user_name"/>
            <result property="user_no" column="user_no"/>
        </association>
    </resultMap>

    <select id="findMemoTitle" resultMap="memoDTO" >
        select
        memo_title,
        memo_id
        from
        memo
        WHERE
        user_no = ${user_no}

    </select>

    <insert id="registMem" useGeneratedKeys="true" keyProperty="memo_id">
        INSERT INTO memo
        (
        memo_title,
        memo_content,
        user_no
        )
        VALUES
        (
        #{memo_title},
        #{memo_content},
        #{user_no}
        )
    </insert>

    <select id="findMemoPage" resultMap="memoDTO">
        select *
        from memo
        where memo_id = #{memo_id}
    </select>

    <update id="updateMemo" parameterType="com.ohgiraffers.semi_project.subpage.profile.model.dto.MemoDTO">
        UPDATE
            memo
        SET
            memo_title = #{memo_title},
            memo_content = #{memo_content}
        WHERE
        memo_id = ${memo_id}
    </update>


    <!-- 도아 사원조회 -->
    <resultMap id="employee" type="com.ohgiraffers.semi_project.subpage.profile.model.dto.EmployeeDTO">
        <id property="user_no" column="user_no"/>
        <result property="user_name" column="user_name"/>
        <result property="user_id" column="user_id"/>
        <result property="user_birth" column="user_birth"/>
        <result property="user_phone_number" column="user_phone_number"/>
        <result property="user_gender" column="user_gender"/>
        <result property="user_department" column="user_department"/>
        <result property="user_role" column="user_role"/>
        <result property="user_rank" column="user_rank"/>
        <result property="user_email" column="user_email"/>
        <result property="join_date" column="join_date"/>
    </resultMap>


    <select id="findAllEmployee" resultMap="employee">
        select
        user_department,
        user_name,
        user_rank,
        user_email,
        user_phone_number,
        user_birth,
        join_date
        from
        employee
        WHERE
        user_status = 'Y'
    </select>

    <!-- 도아 - 개별 사원 조회 -->
    <select id="findDepartment" resultMap="employee" parameterType="map">

        select
        user_department,
        user_name,
        user_rank,
        user_email,
        user_phone_number,
        user_birth,
        join_date
        from
        employee
        where
        1=1
        <if test="user_department != null and user_department != ''">
            AND user_department LIKE CONCAT('%', #{user_department}, '%')
        </if>
        <if test="user_name != null and user_name != ''">
            AND user_name LIKE CONCAT('%', #{user_name}, '%')
        </if>
        <if test="user_rank != null and user_rank != ''">
            AND user_rank LIKE CONCAT('%', #{user_rank}, '%')
        </if>
    </select>
    <resultMap id="CalendarResultMap" type="com.ohgiraffers.semi_project.subpage.profile.model.dto.CalendarDTO">
        <id property="comment_id" column="comment_id" />
        <result property="userNo" column="user_no" />
        <result property="comment_content" column="comment_content" />
        <result property="comment_creation_time" column="comment_creation_time" />
    </resultMap>

    <select id="findcalendarList">
        SELECT
        comment_content description,
        comment_creation_time as start,
        comment_id as title
        FROM comment
        WHERE user_no = #{user_no}
    </select>


</mapper>






