<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/css/join.css" >
    <script>
        const message = `[[${message}]]`;
        if (message) {
            alert(message);
            window.location.href= "/main";
        }
    </script>

</head>

<body>

<section class="join-form">

    <div class="img-logo">
        <img src="https://github.com/alskdteam/semi_project_java/assets/167507636/bd479789-f3d8-410d-93bc-51a78ba44096" width="400px">
    </div>

    <form th:action="@{/user/signup}" th:method="post">
        <div class="int-area">
            <input type="text" name="userId"
                   autocomplete="off" placeholder="사원번호">
        </div>
        <br>

        <div class="int-area">
            <input type="password" name="userPass"
                   autocomplete="off" placeholder="비밀번호">
        </div>
        <br>
        <div class="int-area">
            <input type="text" name="userName"
                   autocomplete="off" placeholder="이름">
        </div><br>
        <div class="int-area">
            <input type="text" name="user_birth"
                   autocomplete="off" placeholder="생년월일 8자리">
        </div><br>

        <div class="int-area">
            <input type="text" name="user_phone_number"
                   autocomplete="off" placeholder="휴대전화번호"> <br><br>
        </div>


        <div class="int-area">
            <input type="text" name="user_department"
                   autocomplete="off" placeholder="부서"> <br><br>
        </div>

        <div class="int-area">
            <input type="text" name="user_rank"
                   autocomplete="off" placeholder="직급"> <br><br>
        </div>

        <div class="int-area">
            <input type="text" name="user_email"
                   autocomplete="off" placeholder="이매일"> <br><br>
        </div>


        <div class="wrap">
            <select name="user_gender">
                <option value="남성"  selected >남성</option>
                <option value="여성">여성</option>
            </select> <br>
        </div>
        <br>

        <div class="int-area">
            <input type="date" name="join_date"
                   autocomplete="off" placeholder="입사날짜"> <br><br>
        </div>

        <div class="wrap">
            <select name="role">
                <option value="USER"  selected >일반회원</option>
                <option value="ADMIN">관리자</option>
            </select> <br>
        </div>
        <br>
        <div class="btn-area">
            <button type="submit" class="btn">사원추가</button>
        </div>
    </form>
</section>


</body>
</html>
