<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semi_project.subpage.edoc.model.dao.EdocMapper">

    <resultMap id="edocAndEmployeeResultMap" type="com.ohgiraffers.semi_project.subpage.edoc.model.dto.EdocAndEmployeeDTO">
        <id property="edoc_id" column="edoc_id"/>
        <result property="edoc_templete" column="edoc_template"/>
        <result property="edoc_description" column="edoc_description"/>
        <result property="Drafting_date" column="Drafting_date"/>
        <result property="edoc_title" column="edoc_title"/>
        <result property="edoc_category" column="edoc_category"/>
        <result property="edoc_status" column="edoc_status"/>
        <association property="employeeDTO" javaType="com.ohgiraffers.semi_project.subpage.edoc.model.dto.EmployeeDTO">
            <id property="user_no" column="USER_NO"/>
            <result property="user_id" column="USER_ID"></result>
            <result property="user_name" column="USER_NAME"></result>
            <result property="user_role" column="USER_ROLE"></result>
            <result property="user_birth" column="USER_birth"></result>
            <result property="user_phoneNumber" column="USER_phoneNumber"></result>
            <result property="user_gender" column="USER_gender"></result>
            <result property="user_department" column="USER_department"></result>
        </association>
    </resultMap>

    <select id="findAllEmployeeAndEdocList" resultMap="edocAndEmployeeResultMap">

        select
        a.edoc_id,
        a.Drafting_date,
        a.edoc_template,
        a.edoc_title,
        a.edoc_status,
        b.USER_NAME,
        b.USER_ID
        from
        edoc a
        join
        Employee b on (a.USER_NO = b.USER_NO)

    </select>

</mapper>