<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semi_project.user.model.dao.UserMapper">

    <insert id="regist" parameterType="com.ohgiraffers.semi_project.user.model.dto.SignupDTO">
        INSERT INTO Employee
        (
        USER_ID,
        USER_NAME,
        PASSWORD,
        USER_ROLE
        )
        VALUES
        (
        #{userId},
        #{userName},
        #{userPass},
        #{role}
        )
    </insert>

    <resultMap id="login" type="com.ohgiraffers.semi_project.user.model.dto.LoginUserDTO">
        <id property="userCode" column="USER_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>

    <select id="findByUsername" resultMap="login">
        SELECT
        USER_NO,
        USER_ID,
        USER_NAME,
        PASSWORD,
        USER_ROLE
        FROM
        Employee
        WHERE
        USER_ID = #{ username }
    </select>

<!--    <insert id="car" parameterType="com.ohgiraffers.semi_project.subpage.car.model.dto.CarDTO">-->
<!--        INSERT INTO Car-->
<!--        (-->
<!--        USER_NO,-->
<!--        car_managementId,-->
<!--        car_number,-->
<!--        car_rentalStatus,-->
<!--        Vehicle_returnStatus,-->
<!--        Vehicle_purpose,-->
<!--        Vehicle_address,-->
<!--        Vehicle_reservationDate,-->
<!--        Vehicle_returnDueDate,-->
<!--        Vehicle_number,-->
<!--        Vehicle_name-->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        #{USER_NO},-->
<!--        #{car_managementId},-->
<!--        #{car_number},-->
<!--        #{car_rentalStatus},-->
<!--        #{Vehicle_returnStatus},-->
<!--        #{Vehicle_purpose},-->
<!--        #{Vehicle_address},-->
<!--        #{Vehicle_reservationDate},-->
<!--        #{Vehicle_returnDueDate},-->
<!--        #{Vehicle_number},-->
<!--        #{Vehicle_name},-->
<!--        )-->
<!--    </insert>-->

    <resultMap id="car" type="com.ohgiraffers.semi_project.subpage.car.model.dto.CarDTO">
        <id property="USER_NO" column="USER_NO"/>
        <result property="car_managementId" column="car_managementId"/>
        <result property="car_number" column="car_number"/>
        <result property="car_rentalStatus" column="car_rentalStatus"/>
        <result property="Vehicle_returnStatus" column="Vehicle_returnStatus"/>
        <result property="Vehicle_purpose" column="Vehicle_purpose"/>
        <result property="Vehicle_address" column="Vehicle_address"/>
        <result property="Vehicle_reservationDate" column="Vehicle_reservationDate"/>
        <result property="Vehicle_returnDueDate" column="Vehicle_returnDueDate"/>
        <result property="Vehicle_number" column="Vehicle_number"/>
        <result property="Vehicle_name" column="Vehicle_name"/>
    </resultMap>

    <select id="findAllCars" resultMap="car">
        SELECT
            a.Vehicle_name,
            b.car_rentalStatus
        FROM
             CAR b
        JOIN
            Vehicle a on (a.Vehicle_number = b.car_number)
    </select>



</mapper>