<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semi_project.user.model.dao.UserMapper">

    <insert id="regist" parameterType="com.ohgiraffers.semi_project.user.model.dto.SignupDTO">
        INSERT INTO Employee
        (
        USER_ID,
        USER_NAME,
        PASSWORD,
        USER_ROLE,
        user_birth,
        user_phone_number,
        user_department,
        user_rank,
        user_email
        )
        VALUES
        (
        #{userId},
        #{userName},
        #{userPass},
        #{role},
        #{user_birth},
        #{user_phone_number},
        #{user_department},
        #{user_rank},
        #{user_email}
        )
    </insert>

    <resultMap id="login" type="com.ohgiraffers.semi_project.user.model.dto.LoginUserDTO">
        <id property="userCode" column="user_no"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="userRole" column="user_role"/>
    </resultMap>

    <select id="findByUsername" resultMap="login">
        SELECT
        USER_NO,
        USER_ID,
        USER_NAME,
        PASSWORD,
        USER_ROLE
        FROM
        Employee
        WHERE
        USER_ID = #{ username }
    </select>

    <update id="cpass">
        UPDATE employee
        SET
        password = #{cpass}
        WHERE user_no = #{userNo}
    </update>
</mapper>