/* main.css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
    overflow-y: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

.content {
    flex: 1;
}

.area {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 1.3px solid #e1e1e1;
    margin-left: 16.5vw;
    width: calc(100% - 16.5vw);
    height: 1400px;
}

/* 여기서 부터 시작 위에는 건들지 마세요*/
.area{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.layer{
    width: 78vw;
    height: 1500px;
    display: flex;
    justify-content: center;
}


/* 공지사항 */
.announcement{
    width: 60vw;
    height: 300px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;

    position: relative; /* 부모 요소로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden; /* 자식 요소의 넘치는 부분 가리기 */
    transition: height 0.6s ease-in-out; /* 부드러운 애니메이션 효과 추가 */
    margin-bottom: 100px;
}

/* 클릭시 세로길이 늘어나는*/
.announcement:focus-within {
    /*height: auto;*/
    border: 1px solid #4CAF50; /* 변경하고자 하는 색상으로 설정 */

}

.c_announcement {
    /*background-color: #cccccc; !* 배경색 지정 *!*/
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 500px;
    margin-top: 20px;
}

/*공지사항 */
.layer h3 {
    border-bottom: 2px solid #959595;
    padding-bottom: 10px;
}

.chart{
    width: 55vw;
    height: 180px;
}
/* 공지사항 페이지 이동 버튼*/

.page_number{
    width: 55vw;
    height: 45px;
    border-top: 4px solid #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
}

.s_button {
    width: 30px;
    height: 30px;
    border: 1px solid black; /* 1px 두께의 검은색 테두리 설정 */
    border-radius: 50%;
    background-color: #f0f0f0; /* 연한 회색 배경색 설정 */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* 마우스 커서를 포인터로 설정하여 클릭 가능한 요소임을 표시합니다. */
    margin: 3px; /* 버튼 간 간격을 설정합니다. */
    }


.s_button:hover {
    border: 2px solid #00FF00; /* 초록색 테두리 추가 */
    background-color: #4CAF50; /* 변경하고자 하는 색상으로 설정 */
    color: white;

}

.flex3{
    display: flex;
    justify-content: center;
    gap: 10px;
}



/*댓글*/
.comment_list{
    width: 55vw;
    height: 210px;
    background-color: #e5e5e5;
}

.comment{
    width: 55vw;
    height: 50px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center;
}



.comment_input {
    width: 30vw; /* 입력란 가로 크기 */
    height: 35px; /* 입력란 세로 크기 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 20px; /* 둥근 사각형 테두리 설정 */
    padding: 10px; /* 내부 여백 설정 */
    background-color: #f1f1f1;
}

.comment_button {
    /* 버튼에 대한 스타일은 여기에 추가합니다. */
    width: 60px;
    height: 35px;
    border: 1px solid #168b08; /* 테두리 설정 */
    color: white;
    background-color: #168b08;
    border-radius: 15px; /* 둥근 사각형 테두리 설정 */
}

table{
    width: 55vw;
    border-collapse: collapse;
}


.chart table th,
.chart table td {
    padding: 8px; /* 셀의 여백 설정 (원하는 값으로 조정 가능) */
    border-bottom: 0.5px solid #c5c5c5;
    text-align: center; /* 셀 안의 텍스트 가운데 정렬 */
    font-size: 13px;
    height: 36px;
}

.chart table th {
    border-bottom: 0.7px solid #8d8d8d; /* th에만 하단 테두리를 적용합니다. */
}

.dashboard{
    width: 60vw;
    height: auto;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
}

page_btn {
    width: 55vw;
    height: 45px;
    border-top: 4px solid #848484;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    cursor: pointer;
}
page_btn:hover {
    border: 2px solid #00FF00; /* 초록색 테두리 추가 */
    background-color: #4CAF50; /* 변경하고자 하는 색상으로 설정 */
    color: white;
}


/* 클릭시 세로길이 늘어나는*/
.dashboard:focus-within {
    height: auto;
    border: 1px solid #4CAF50; /* 변경하고자 하는 색상으로 설정 */

}



.dashboardTable {
    width: 100%;
    border-collapse: collapse;
}

.dashboardTable th,
.dashboardTable td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
}

.dashboardTable th {
    border: 1px solid #ccc;
}
.header2 {
    text-align: center;
    padding: 15px 0;
    width: 100%;
}
.empty {
    width: 70px;
}

.wrap_dashboard{
    margin-top: 20px;
    width: 57vw;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: auto;
}

#shift-row, #vehicle-rental-row, #item-rental-row {
    height: 100px;
}

.bottom-left {
    border-bottom-left-radius: 10px;
}

.bottom-right {
    border-bottom-right-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.button-container button {
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    border: none;
}

.day-column {
    width: 55px; /* Adjust this value to the desired width */
}


.hidden-date{
    display: none;
}


/* 대여일 */
[id^="vehicle-"][id$="-start"] {
    background-color: #ffffe4 !important;
    border-top: 4px solid #8e8e23;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="vehicle-"][id$="-start"]::before {
    content: "대여일";
    position: absolute;
    top: -21px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #5a5858;
    padding: 2px 7px;
    border-radius: 5px;
}

/* 반납일 */
[id^="vehicle-"][id$="-end"] {
    background-color: #d6ffd0 !important;
    border-top: 4px solid #168907;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="vehicle-"][id$="-end"]::before {
    content: "반납일";
    position: absolute;
    top: -21px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #a2a1a1;
    padding: 2px 7px;
    border-radius: 5px;
}

/* 대여일 */
[id^="vehicle-"][id$="-same"] {
    background-color: #fff0ff !important;
    border-top: 4px solid #9e15a9;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="vehicle-"][id$="-same"]::before {
    content: "사용완료";
    position: absolute;
    top: -21px;
    left: 23%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #a2a1a1;
    padding: 2px 7px;
    border-radius: 5px;
}

/*itme*/


/* 대여일 */
[id^="item-"][id$="-start"] {
    background-color: #ffffe4 !important;
    border-top: 4px solid #8e8e23;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="item-"][id$="-start"]::before {
    content: "대여일";
    position: absolute;
    top: -21px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #5a5858;
    padding: 2px 7px;
    border-radius: 5px;
}

/* 반납일 */
[id^="item-"][id$="-end"] {
    background-color: #d6ffd0 !important;
    border-top: 4px solid #168907;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="item-"][id$="-end"]::before {
    content: "반납일";
    position: absolute;
    top: -21px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #a2a1a1;
    padding: 2px 7px;
    border-radius: 5px;
}

/* 대여일 */
[id^="item-"][id$="-same"] {
    background-color: #fff0ff !important;
    border-top: 4px solid #9e15a9;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

/* 대여일 텍스트 스타일 */
[id^="item-"][id$="-same"]::before {

    content: "하루대여";

    position: absolute;
    top: -21px;
    left: 23%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #ffffff;
    background-color: #a2a1a1;
    padding: 2px 7px;
    border-radius: 5px;
}

