/* main.css */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
    overflow-y: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

.content {
    flex: 1;
}

.area {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 1.3px solid #e1e1e1;
    margin-left: 16.5vw;
    width: calc(100% - 16.5vw);
    height: 1100px;
}

/* 여기서 부터 시작 위에는 건들지 마세요*/
.area{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.layer{
    width: 78vw;
    height: 1000px;
    display: flex;
    justify-content: center;
}

/* 공지사항 */
.announcement{
    width: 60vw;
    height: 290px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;

    position: relative; /* 부모 요소로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden; /* 자식 요소의 넘치는 부분 가리기 */
    transition: height 0.6s ease-in-out; /* 부드러운 애니메이션 효과 추가 */
    margin-bottom: 100px;
}

/* 클릭시 세로길이 늘어나는*/
.announcement:focus-within {
    height: 590px;
}

.c_announcement {
    /*background-color: #cccccc; !* 배경색 지정 *!*/
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 500px;
    margin-top: 20px;
}

/*공지사항 */
.layer h3 {
    border-bottom: 2px solid #959595;
}

.chart{
    width: 55vw;
    height: 180px;
    background-color: #f1f1f1;
}
/* 공지사항 페이지 이동 버튼*/
.page_number{
    width: 55vw;
    height: 45px;
    align-content: center;
}

.flex3{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.s_button {
    border-radius: 50%; /* 동그란 형태로 만들기 위해 반지름을 50%로 설정합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.s_button:nth-child(2) { /* 텍스트 "1"이 포함된 버튼에 대한 스타일 */
    width: 30px; /* 크기를 더 크게 조정 */
    height: 30px;
    background-color: #30c530; /* 배경색을 초록색으로 설정 */
    color: white; /* 텍스트 색을 흰색으로 설정 */
    font-size: 18px;
}

.s_button:nth-child(1),
.s_button:nth-child(3) { /* "<" 및 ">" 버튼에 대한 스타일 */
    background-color: #dedede; /* 배경색을 회색으로 설정 */
    color: black; /* 텍스트 색을 검은색으로 설정 */
    width: 25px; /* 버튼의 너비 */
    height: 25px; /* 버튼의 높이 */
    margin-top: 3px;
}


/*댓글*/
.comment_list{
    width: 55vw;
    height: 210px;
    background-color: #e5e5e5;
}

.comment{
    width: 55vw;
    height: 50px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center;
}



.comment_input {
    width: 30vw; /* 입력란 가로 크기 */
    height: 35px; /* 입력란 세로 크기 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 20px; /* 둥근 사각형 테두리 설정 */
    padding: 10px; /* 내부 여백 설정 */
    background-color: #f1f1f1;
}

.comment_button {
    /* 버튼에 대한 스타일은 여기에 추가합니다. */
    width: 60px;
    height: 35px;
    border: 1px solid #168b08; /* 테두리 설정 */
    color: white;
    background-color: #168b08;
    border-radius: 15px; /* 둥근 사각형 테두리 설정 */
}







.dashboard{
    width: 60vw;
    height: 523px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
}

