/* main.css */
* {
    margin: 0;
    padding: 0;
}



body {
    background-color: #fbfbfb;
    overflow-y: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

.content {
    flex: 1;
}

.area {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 1.3px solid #e1e1e1;
    margin-left: 16.5vw;
    width: calc(100% - 16.5vw);
    height: 2300px;
}

/* 여기서 부터 시작 위에는 건들지 마세요*/
.area{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.layer{
    width: 78vw;
    height: 2150px;
    display: flex;
    justify-content: center;
}

.flex2{
    width: 55vw;
}

.profile {
    width: 60vw;
    height: 510px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
}

.profile h3 {
    padding-top: 25px;
}

.c_profile {
    border: 1px solid #BFBFBF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 430px;
    margin-top: 7px;
}




/* 프로필 편집 버튼 */
.edit_button {
    width: 112px;
    height: 40px;
    background-color: #707070; /* 프로필 편집 버튼의 배경색 */
    text-align: center; /* 텍스트 가운데 정렬 */
    line-height: 40px; /* 버튼 높이에 맞게 텍스트 가운데 정렬 */
    cursor: pointer; /* 커서를 손가락 모양으로 변경하여 클릭 가능함을 나타냄 */
    color: white; /* 버튼 텍스트 색상 */
    border-radius: 10px;


    margin-top: 20px;
}


.edit_button:hover {
    background-color: #45a049; /* 마우스를 올렸을 때 버튼 배경색 변경 */
}




/* 스크롤 이동 버튼 */

.button{
    width: 60vw;
    height: 103px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.scroll_button {
    width: 162px;
    height: 103px;
    border: 1px solid #ffffff;
    border-radius: 20px; /* 테두리를 둥글게 만듭니다 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 드롭쉐도우 추가 */
    background-color: #ffffff; /* 배경색 설정 */
    transition: border-color 0.3s; /* 호버 효과에 대한 전환 설정 */

    /* 버튼이 호버 되었을 때의 스타일 */
    &:hover {
        border: 2px solid #00FF00; /* 초록색 테두리 추가 */
    }
}


.calender{
    width: 60vw;
    height: 405px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    margin-bottom: 90px;

    position: relative; /* 부모 요소로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden; /* 자식 요소의 넘치는 부분 가리기 */
    transition: height 0.6s ease-in-out; /* 부드러운 애니메이션 효과 추가 */
}

.calender h3 {
    padding-top: 25px;
}

/* 클릭시 세로길이 늘어나는*/
.calender:focus-within {
    height: 700px;
}

/* c_profile */
.c_calender {
    background-color: #cccccc; /* 배경색 지정 */
    border: 1px solid #BFBFBF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 600px;
    margin-top: 7px;
}

.memo{
    width: 60vw;
    height: 370px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    margin-bottom: 90px;

    position: relative; /* 부모 요소로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden; /* 자식 요소의 넘치는 부분 가리기 */
    transition: height 0.6s ease-in-out; /* 부드러운 애니메이션 효과 추가 */
}

.memo h3 {
    padding-top: 25px;
}

.memo:focus-within {
    height: 700px;
}

.c_memo {
    background-color: #cccccc; /* 배경색 지정 */
    border: 1px solid #BFBFBF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 600px;
    margin-top: 7px;
}



.employee{
    width: 60vw;
    height: 405px;
    border: 1px solid #BFBFBF;
    border-radius: 30px;

    position: relative; /* 부모 요소로 설정 */
    display: flex;
    justify-content: center;
    overflow: hidden; /* 자식 요소의 넘치는 부분 가리기 */
    transition: height 0.6s ease-in-out; /* 부드러운 애니메이션 효과 추가 */
}
.employee h3 {
    padding-top: 25px;
}
/* 클릭시 세로길이 늘어나는*/
.employee:focus-within {
    height: 700px;
}

.c_employee {
    background-color: #cccccc; /* 배경색 지정 */
    border: 1px solid #BFBFBF; /* 테두리 설정 */
    border-radius: 30px; /* 테두리 반지름 설정 */
    width: 55vw;
    height: 600px;
    margin-top: 7px;
}

/* 여기서 메인 콘텐츠들 시작 */

.picture{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 70px;
}

.c_picture{
    width: 200px;
    height: 321px;
    position: relative;

}

.profile_edit{
    width: 500px;
    height: 321px;
    background-color: rgb(228, 228, 228);
}

/* 프로필 사진 */
.profile_picture {
    width: 170px;
    height: 210px;
    background-color: #999999;
    /*/background-image: url('사진의_경로.jpg');* /* 여기에 실제 사진의 경로를 입력하세요 */
    background-size: cover; /* 사진이 요소에 꽉 차도록 설정 */
    box-shadow: 10px 10px 0px 0px rgb(114, 114, 114);

}

.profile_frame{
    width: 170px;
    height: 210px;
    border: 2px solid black;

    position: absolute;
    top: 0;
    margin-top: -13px;
    margin-left: -13px;
}

/* 캘린더 */

/* 메모 */
.memo p {
    font-size: 80px;
    text-align: center;
}