<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

<section class="login-form">

    <div class="img-logo" style="width: 400px; height: 200px">
        <img src="/img/login/logo2.png" width="400px">
<!--        <div style="width: 400px; height: 100px; border: 2px solid #d8d8d8; border-radius: 10px; background-color: #f8f8f8; margin-top: 10px;" >-->
<!--            <div style="width: 398px; height: 30px; border-bottom: 2px solid #d8d8d8; justify-content:  center; display: flex; align-items: center" ><p>로그인 사용설명서</p></div>-->
<!--            <div style="display: flex; justify-content: center">-->
<!--                <div>-->
<!--                    <div style="margin-bottom: 3px; color: #5a5858; margin-top: 10px">-->
<!--                        <strong>유저:</strong> 사원번호 <code>111</code>, 비밀번호 <code>111</code>-->
<!--                    </div>-->
<!--                    <div style=" color: #5a5858;">-->
<!--                        <strong>관리자:</strong> 사원번호 <code>222</code>, 비밀번호 <code>222</code>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <form th:action="@{/login/login}" th:method="post">
        <div class="int-area">
            <input type="text" name="user" id="user"
                   autocomplete="off" placeholder="사원번호"><br><br>

        </div>

        <div class="int-area">
            <input type="password" name="pass" id="pass"
                   autocomplete="off" placeholder="비밀번호">

        </div>
        <br>

        <div class="btn-area">
            <button  type="submit" class="btn" >로그인</button>
        </div>


    </form>

</section>



</body>
</html>
